/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2017, 6:06:53 PM
    Author     : Utkarsh
*/

@charset "utf-8";
body
{
	margin: 0 auto;
	background-image:url(../Images/majaaagya.jpg);
        
	background-repeat:no-repeat;
	background-size: 100% 720px
            
}

.container
{
	width: 600px;
	height: 800px;
	text-align: center;
	background-color: rgba(0,0,0, 0.6);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
	height: 100%;
}

.container img
{
	width: 120px;
	height: 120 px;
	margin-top: -60px;
	margin-bottom: 30px;
}


input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
	height:45px;
	width:300px;
	font-size:18px;
	border:none;
	margin-bottom:20px;
	border-radius:4px;
	background-color:#FFF;
	padding-left:30px;
}

form-input::before{
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:30px;
}

.btn-login{
	font-size:18px;
	padding: 15px 25px;
	cursor:pointer;
	color:#F30;
	border-radius:4px;
	border:none;
	background-color:rgba(0, 51, 102, 0.7);
	margin-bottom:20px;
}

a{
        color:#FFF;
	font-size:20px;
        text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none;
}

.val_error{
    color: #FF1F1F;
	position:absolute;
	padding-top:10px;
	padding-left:20px;
}


